.logoImg{
    width: 20%;
    position: relative;
    opacity: 85%;
}
.headerTitle{
    position: absolute;
    z-index: 9;
    color: rgba(168, 223, 255, 0.9);
}

.logoContainer{
    width: 100%;
    margin: 20px;
    display: flex;
}

header{
   
}