.bg {
    background: url(https://i.pinimg.com/originals/74/ce/23/74ce2337bade70a41d90adac7d861d23.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
}
.bg:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.3;
}
button{
    border: none;
    border-radius: 30px;
    background: rgb(0, 179, 255);
    color: rgb(234, 212, 255);
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
}
button:hover{
    background: rgb(96, 207, 255);
}
p{
    color: white;
}
.neasCard{
    background: rgba(0, 0, 204, 0.563);
    margin-top: 20px;
    padding: 20px;
    width: 50%;
    border-radius: 20px;
    border: solid;
    -webkit-box-shadow: 5px 5px 21px 10px #07070D; 
    box-shadow: 5px 5px 21px 8px #07070D;
    border-radius: 10px;
    a{
        text-decoration: none;
        background: none;
    }
    h3{
        background: rgba(0, 128, 255, 0.423);
        border-radius: 20px;
        padding: 10px;
        margin:0px
    }
}

.landingCard{
    
        background: rgba(0, 0, 204, 0.563);
        margin-top: 20px;
        padding: 20px;
        width: 50%;
        border-radius: 20px;
        border: solid;
        -webkit-box-shadow: 5px 5px 21px 10px #07070D; 
        box-shadow: 5px 5px 21px 8px #07070D;
        border-radius: 10px;
        a{
            text-decoration: none;
            background: none;
        }
        h3{
            background: rgba(0, 128, 255, 0.423);
            border-radius: 20px;
            padding: 10px;
            margin:0px
        }
    
}

.createForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 86, 147, 0.616);
    margin-top: 0px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    width: 85%;
    margin: auto;
    border: 3px solid;
    border-top: none;
    -webkit-box-shadow: 5px 5px 21px 10px #07070D; 
    box-shadow: 5px 5px 21px 8px #07070D;
    border-radius: 0px 0px 20px 20px;
    input{
        width: 50%;
        margin-bottom: 10px;
        border-radius: 0px 40px 0px 40px;
        border: 3px solid rgba(0, 0, 104, 0.716);
        background: rgba(181, 181, 255, 0.52);
        outline: none;
        border-bottom: none;
        color: rgb(196, 240, 255);
        padding: 5px 15px 5px 15px;
    }
    label{
        color: white;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .sendCreate{
       
            border: none;
            border-radius: 30px;
            background: rgb(0, 179, 255);
            color: rgb(234, 212, 255);
            padding: 10px;
            margin-right: 20px;
            cursor: pointer;
        
       
    }
    .sendCreate:hover{
        background: rgb(96, 207, 255);
    }
}
.updateForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 86, 147, 0.616);
    margin-top: 0px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    width: 85%;
    margin: auto;
    margin-top:20px;
    border: 3px solid;
    
    -webkit-box-shadow: 5px 5px 21px 10px #07070D; 
    box-shadow: 5px 5px 21px 8px #07070D;
    border-radius: 10px 10px 20px 20px;
    input{
        width: 50%;
        margin-bottom: 10px;
        border-radius: 0px 40px 0px 40px;
        border: 3px solid rgba(0, 0, 104, 0.716);
        background: rgba(181, 181, 255, 0.52);
        outline: none;
        border-bottom: none;
        color: rgb(196, 240, 255);
        padding: 5px 15px 5px 15px;
    }
    label{
        color: white;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .sendCreate{
       
            border: none;
            border-radius: 30px;
            background: rgb(0, 179, 255);
            color: rgb(234, 212, 255);
            padding: 10px;
            margin-right: 20px;
            cursor: pointer;
        
       
    }
    .sendCreate:hover{
        background: rgb(96, 207, 255);
    }
}

.sortPeriod{
    margin-top: 30px;
}

.loginTitle{
    // font-size: 30px;
    background: -webkit-linear-gradient(rgb(0, 217, 255), rgb(0, 98, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swal2-popup {
    background: none;
}
.swal2-modal {
    background: rgba(0, 68, 255, 0.719);
}
.swal2-title{
    background: -webkit-linear-gradient(rgb(187, 245, 255), rgb(56, 133, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swal2-success-circular-line-left{
    background: none;
    display: none;
}
.swal2-success-circular-line-right{
    background: none;
    display: none;
}

.swal2-success-fix{
    display: none;
}

// .App{

// }

.homeTitle{
    h1{
        font-size: 100px;
    background: -webkit-linear-gradient(rgb(187, 245, 255), rgb(56, 133, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    }
    h2{
        font-size: 30px;
        background: -webkit-linear-gradient(rgb(198, 231, 255), rgb(56, 56, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 60px;
        margin-left: 100px;
    }
}

.editBtns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:0px 5px 0px 5px;
    width: 100%;
}

.cartList{
    list-style: none;
}
.historyList{
    list-style: none;
}

.cartSpace{
    background: rgba(0, 0, 204, 0.563);
    margin:auto;
    padding: 20px;
    width: 80%;
    border-radius: 20px;
    border: solid;
    -webkit-box-shadow: 5px 5px 21px 10px #07070D; 
    box-shadow: 5px 5px 21px 8px #07070D;
    border-radius: 10px;
    h2{
        background: -webkit-linear-gradient(rgb(0, 217, 255), rgb(0, 98, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h3{
        background: rgba(0, 128, 255, 0.423);
        border-radius: 20px;
        padding: 10px;
        margin:0px
    }
}
.historyContainer{
    background: rgba(0, 0, 204, 0.563);
    margin:auto;
    margin-top: 30px;
    padding: 20px;
    width: 80%;
    border-radius: 20px;
    border: solid;
    -webkit-box-shadow: 5px 5px 21px 10px #07070D; 
    box-shadow: 5px 5px 21px 8px #07070D;
    border-radius: 10px;
    h2{
        background: -webkit-linear-gradient(rgb(0, 217, 255), rgb(0, 98, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h3{
        background: rgba(0, 128, 255, 0.423);
        border-radius: 20px;
        padding: 10px;
        margin:0px
    }
}

.detailContainer{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    border: solid;
    -webkit-box-shadow: 5px 5px 21px 10px #07070D; 
    box-shadow: 5px 5px 21px 8px #07070D;
    border-radius: 10px;
    img{
        width: 100%;
        
    }
    .detailView{
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.577);
        h2{
            background: -webkit-linear-gradient(rgb(0, 217, 255), rgb(0, 98, 255));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h4{
            color: white;
        }
    }
}

.backDetail:hover{
    background: -webkit-linear-gradient(rgb(0, 217, 255), rgb(0, 98, 255));
}
